{% extends "base.html" %}
{% load schedule_filter %}

<!-- CSS -->
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/schedule/index.css' %}">
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <form method="post">
        {% csrf_token %}
        <p><input type="date" name="deadline"></p>
        <p><textarea name="content" id="todo" cols="100" rows="3"></textarea></p>
        <p><button type="submit">등록하기</button></p>
    </form>
    {% if todo_list %}
        {% for deadline in deadline_list %}
            <div class="deadline">{{ deadline|date:'Y년 m월 d일 D' }}</div>
            {% for todo in todo_list_deadline|get_item:deadline %}
                <div class="todo_list">
                    <p class="todo">{{ todo.content }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock %}