body {
    height: 100%;
}

footer {
    background: #135EF2;
}
.footer_wrap {
    width: 1280px;
    margin: auto;
    margin-top: 20px;
    height: 180px;
}
.footer {
    margin: 20px;
    width: 500px;
    line-height: 40px;
}
.footer * {
    color: #fff;
    font-size: 15px;
}
.for_footer {
    height: auto;
    min-height: 80vh;
}
footer {
    position: relative;
}