{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--header and footer CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/common/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common/footer.css' %}">

    <!-- Font and Icon -->
    <script src="https://kit.fontawesome.com/9b2e3379cb.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <!-- CSS -->
    {% block css %}
    {% endblock %}

    <!-- JAVASCRIPT -->
    {% block script %}
    {% endblock %}

    <!-- JQuery JS-->
    <script src="{% static 'jquery-3.6.0.min.js' %}"></script>

    <title>Mysite2</title>
</head>
<div class="for_footer">
    {% include 'header.html' %}
    {% block content %}
    {% endblock %}
</div>
{% include 'footer.html' %}
<body>
</body>

</html>