{% extends "base.html" %}
<head>
    {% load static %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/board/board.css' %}????">
    {% endblock %}
</head>
{% block content %}
{% load board_filter %}
<!-- 게시글 -->
    <table class="board">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th class="text_center">작성일시</th>
                <th class="text_center">기분날씨</th>
            </tr>
        </thead>
        <tbody>
            {% if post_list %}
                {% for post in post_list %}
                    {% if forloop.counter|divisibleby:2 %}
                    <tr>
                        <td class="even">{{ post_list.paginator.count|sub:post_list.start_index|sub:forloop.counter0|add:1 }}</td>
                        <td class="title even"><a href="{% url 'board:detail' post.id %}">{{ post.subject }}</a></td>
                        <td class="even create_date">{{ post.create_date|date:'Y년 m월 d일 D' }}</td>
                        <td class="even text_center">{{ post.get_feelingWeather_display }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>{{ post_list.paginator.count|sub:post_list.start_index|sub:forloop.counter0|add:1 }}</td>
                        <td class="title"><a href="{% url 'board:detail' post.id %}">{{ post.subject }}</a></td>
                        <td class="create_date">{{ post.create_date|date:'Y년 m월 d일 D' }}</td>
                        <td class="text_center">{{ post.get_feelingWeather_display }}</t>
                    </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text_center" colspan="4">글쓰기를 눌러주세요.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <!-- 글쓰기 버튼 -->
    <div class="write">
        <a href="{% url 'board:create_post' %}">글쓰기</a>
    </div>

    <!--페이징 기능-->
    <!-- 페이지 번호 -->
    <ul class="pagination">
        <!--이전 페이지 버튼-->
        {% if post_list.has_previous %}
            <li><a href="?page={{ post_list.previous_page_number }}" class="page_before">이전</a></li>
        {% else %}
            <li><a href="#" class="page_before">이전</a></li>
        {% endif %}
        <!--페이지 번호-->
        {% if post_list.number <= 5 %}
            {% for page_number in post_list.paginator.page_range %}
                {% if page_number <= 9 %}
                    {% if page_number == post_list.number %}
                        <li aria-current="page">
                            <a href="?page={{ page_number }}" class="active">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% if post_list.number >= last_page|add:-4 %}
                {% for page_number in post_list.paginator.page_range %}
                    {% if page_number >= last_page|add:-8 %}
                        {% if page_number == post_list.number %}
                            <li aria-current="page">
                                <a href="?page={{ page_number }}" class="active">{{ page_number }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="?page={{ page_number }}">{{ page_number }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for page_number in post_list.paginator.page_range %}
                    {% if page_number >= post_list.number|add:-4 and page_number <= post_list.number|add:4 %}
                        {% if page_number == post_list.number %}
                            <li aria-current="page">
                                <a href="?page={{ page_number }}" class="active">{{ page_number }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="?page={{ page_number }}">{{ page_number }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
        <!--다음 페이지 버튼-->
        {% if post_list.has_next %}
            <li><a href="?page={{ post_list.next_page_number }}" class="page_next">다음</a></li>
        {% else %}
            <li><a href="#" class="page_next">다음</a></li>
        {% endif %}
    </ul>
{% endblock %}