{% extends "base.html" %}

<head>
    {% load static %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/board/create_post.css' %}?">
    {% endblock %}
</head>

{% block content %}
    <div class="wrap">
        <form method="post" class="postForm">
            {% csrf_token %}
            <div class="post-title">
                <input type="text" name="subject" placeholder="제목을 입력하세요">
            </div>
            <textarea name="content" cols="30" rows="10" placeholder="내용을 입력하세요"></textarea>
            <div class="save">
                <button type="submit">저장</button>
                <a href="javascript:history.back()" class="goBack">취소</a>
            </div>
        </form>
    </div>
{% endblock %}