{% extends "base.html" %}

<head>
    {% load static %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/board/create_post.css' %}????">
    {% endblock %}
</head>

{% block content %}
    <div class="wrap">
        <form method="post" class="postForm">
            {% csrf_token %}
            <div class="post-title">
                <input type="text" name="subject" placeholder="제목을 입력하세요">
                <select name="feelingWeather" id="emotion_weather">
                        <option value="" selected>기분날씨</option>
                        <option value="sunny">맑음</option>
                        <option value="cloudy">구름</option>
                        <option value="rainy">비</option>
                        <option value="snow">눈</option>
                        <option value="storm">폭풍</option>
                        <option value="destroy">멸망</option>
                    </select>
            </div>
            <textarea name="content" cols="30" rows="10" placeholder="내용을 입력하세요"></textarea>
            <div class="save">
                <button type="submit">저장</button>
                <a href="javascript:history.back()" class="goBack">취소</a>
            </div>
        </form>
    </div>
{% endblock %}