{% extends "base.html" %}
<head>
    {% load static %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/board/post_detail.css' %}">
    {% endblock %}
</head>

{% block content %}
    <div class="wrap">
        <div class="post">
            <div class="title">
                <h3>
                    {{ post.subject }}
                </h3>
                <div class="post_control">
                    <a href="#" class="post_modify">수정</a>
                    <a href="#" class="post_delete">삭제</a>
                </div>
            </div>
            <p class="contents">
                {{ post.content | linebreaksbr }}
            </p>
        </div>
        <form action="{% url 'board:comment_create' post.id %}" method="post" class="comment_create">
        {% csrf_token %}
            <div class="comment-input">
                <textarea name="comment" id="comment" cols="30" rows="10" placeholder="댓글을 입력하세요"></textarea>
            </div>
            <div class="comment-btn">
                <input type="submit" value="저장하기">
            </div>
        </form>
    </div>
    <div class="comment_list">
        {% for comment in post.comment_set.all %}
        <div class="comment">
            <div class="comment_wrap">
                <div class="comment_create_date">{{ comment.create_date }}</div>
                <p class="comment_content">{{ comment.content | linebreaksbr}}</p>
            </div>
            <div class="comment_control">
                <a href="{% url 'board:comment_delete' comment.id %}" class="comment_delete">삭제</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    function deletePost(){
        if(confirm("삭제하시겠습니까?")){
            window.location.href = "{% url 'board:post_delete' post.id %}";
        }
    }
    function modifyPost(){
        window.location.href = "{% url 'board:post_modify' post.id %}";
    }

    window.onload = function(){
        const deleteBtn = document.querySelector('.post_delete');
        const modifyBtn = document.querySelector('.post_modify');

        deleteBtn.addEventListener('click',deletePost);
        modifyBtn.addEventListener('click', modifyPost);
    }
</script>
{% endblock %}