textarea {
    resize: none;
    border: none;
}
.wrap {
    width: 1280px;
    margin: auto;
}
.title {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.title * {
    display: inline-block;
}
.title h3 {
    width: 1200px;
    font-size: 40px;
}
.title a{
    margin-left: 5px;
}
.contents {
    margin-top: 20px;
    font-size: 20px;
    min-height: 300px;
}
.post {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.comment_create {
    margin-top: 10px;
}
.comment-input {
    text-align: center;
}
.comment_create textarea {
    width: 1280px;
    height: 200px;
    font-size: 20px;
    padding: 5px;
}
.comment_create textarea::placeholder{
    font-size: 20px;
}
.comment-btn {
    margin-top: 10px;
    text-align: end;
}
.comment-btn input {
    position: relative;
    right: 5px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background: #3071F2;
    color: #fff;
    cursor: pointer;
    height: 40px;
    font-size: 20px;
}

.comment_list {
    margin: auto;
    margin-top: 10px;
    width: 1280px;
    /* background: red; */
}

.comment {
    padding: 10px;
    border-radius: 10px;
    background: #a3d4ff;
    margin-top: 10px;
}
.comment_wrap {
    width: 1190px;
    display: inline-block;
}
.comment_control {
    vertical-align: top;
    text-align: center;
    display: inline-block;
}
